h1{
  text-align: center;
}

.form-section {
  margin: 20px 0;
  text-align: center;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
select{
  width: 150px;
  overflow: hidden;
  scrollbar-width: none;
}
#form-section{
  display: flex;
  flex-direction: column;
}
table {
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

th,
td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 12px;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
  height: 70px;
    width: 10px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

input[type="number"] {
  text-align: center;
  color: #444444;
  box-sizing: border-box;
  border-radius: 4px;
  border: solid 1px #888888;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#calculateIV,#calculateEV, #dataCleaner {
  border-radius: 4px;
  border: solid 1px #888888;
}

#baseForm {
  margin-bottom: 60px;
}

.mainForm {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

#resultado {
  text-align: center;
}